.hello{
    height: 18px;
    width: 239px;
    border: solid red 5px;
    background-color: white;
    color: brown;
    font-style: italic;
    font-weight: bolder;
    display: block;
    font-size: 30px;
    margin-left: 456px;
    text-align: center;
    padding: 15px 36px 118px 54px;
    box-shadow: 5px 5px 5px brown;
}
.line{
    border: greenyellow solid 8px;
}
.hyper{
    border: solid 5px black;
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    margin: 29px 656px 47px 29px;
    width: 213px;
    height: 211px;
    padding: 18px 5px 19px 16px;
    color:black;
    box-shadow: yellowgreen 8px 8px;
    line-height: 45px;
    background-color: coral;
}
.image{
    border: solid red 5px;
    height: 211px;
    position: absolute;
    right: 80px;
    width: 200px;
    top: 244px;
    margin: 10px 10px 10px 10px;
    box-shadow: yellowgreen 8px 8px;
    text-align: center;
    background-color: coral;
}
.img{
    width: 172px;
    height: 158px;
    margin-left: 12px;
    margin-top: 31px;
    border: 1px solid black;
    border-top: 0px;
    border-right: 0px;
}
.box{
    border: solid 5px black;
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    margin: 29px 656px 47px 29px;
    width: 213px;
    height: 211px;
    padding: 18px 5px 19px 16px;
    color: black;
    box-shadow: yellowgreen 8px 8px;
    background-color: coral;
}
.submit{
    border: solid red 5px;
    height: 250px;
    position: absolute;
    right: 68px;
    width: 200px;
    top: 544px;
    margin: 10px 10px 10px 10px;
    box-shadow: yellowgreen 8px 8px;
    text-align: center;
    background-color: coral;
}
.color{
    background-color: red;
}
.fixed{
    border: 6px solid red;
    background-color: #38ef12;
    width: 341px;
    height: 83px;
    margin: 10px 16px 5px 441px;
    padding: 22px 46px 0px 38px;
    border-radius: 15px;
    font-style: italic;
    color: #b11228;
    box-shadow: 4px 4px #40034a;
    position: fixed;
    bottom: 50px;
}
.discount{
    border: 0px solid;
    background-color: #38ef12;
    width: 153px;
    height: 70px;
    margin: 28px 16px 5px 629px;
    padding: 0px 46px 2px 38px;
    border-radius: 0px;
    font-style: italic;
    color: #b11228;
    position: fixed;
    bottom: 58px;
}

.final1{
    border: 7px solid #350535;
    width: 673px;
    height: 558px;
    margin-top: 41px;
    margin-left: 300px;
    position: absolute;
    background-color: green;
    text-align: center;
}
.final2{
    height: 230px;
    border: 2px solid white;
    border-radius: 5px;
    width: 304px;
    position: absolute;
    top: 96px;
    left: 2px;
    padding-top: 14px;
    padding-right: 10px;
    background-color: #ffe81f;
    text-align: center;
    font-style: italic;
}
.final3{
    height: 235px;
    border: 2px solid white;
    border-radius: 5px;
    width: 332px;
    position: absolute;
    top: 96px;
    left: 326px;
    padding-top: 5px;
    padding-right: 10px;
    background-color: #ffe81f;
    text-align: center;
    font-style: italic;
}
.final4{
        height: 189px;
        border: 2px solid white;
        border-radius: 5px;
        width: 658px;
        position: absolute;
        top: 350px;
        left: 2px;
        padding-top: 5px;
        padding-right: 10px;
        background-color: #ffe81f;
        text-align: center;
        font-style: italic;
}